nav {
   font-family: monospace;
}

.nav-link {
   font-size: 1.2rem;
   border: rgb(83, 83, 83) 2px solid;
   margin-right: 8px;
   background-color: aliceblue;
   &.active {
      border: rgb(0, 0, 0) 3px solid;
      background-color: white;
   }

   &.last {
      margin-right: 0%;
   }
}
